{% extends 'bookstore/base.html' %}
{% block a %}
<style>
tr{
background-color: #fffdf7
}
tr:nth-child(even){background-color: #fccd64}
</style>
{% load static %}
<table width=100% height=80%>
<div class="tr1">
<tr><td>
<h1 align=center>My Bookshelf</h1>
<p align=center>welcome to my bookshelf - a web application that help you manage your books!</p>
</td></tr>
<div>
<tr><td>
<p width=100% align=center>My bookshelf เป็นเว็บแอพพลิเคชันที่จะช่วยคุณดูแลชั้นหนังสือของคุณ</p>
<p width=100%>  เชื่อว่าหลายคนคงเคยถามกับตัวเองว่า "เอ๋ เรามีหนังสือเล่มนี้หรือยังนะ" ซึ่งขณะที่คุณถามอาจจะกำลังอยู่ในงานสัปดาห์หนังสือที่จัดเป็นวันสุดท้าย แถมหนังสือเล่มที่คุณถืออยู่นั้นก็เหลืออยู่ไม่กี่เล่ม! my bookshelf จึงถือกำเนิดขึ้นมาเพื่อช่วยคุณ!</p>
<p width=100%>นอกจากจะเก็บรายชื่อหนังสือ ภาพหน้าปก และชื่อผู้แต่งแล้ว my bookshelf จะช่วยให้คุณค้นหาหนังสือที่อยู่บนชั้นหนังสือของคุณได้เร็วขึ้นแม้ว่าคุณจะไม่ได้อยู่ใกล้มันก็ตาม เพื่อให้คุณแน่ใจว่าหนังสือที่คุณค้นหานั้นคุณมีครอบครองแล้วหรือยัง  หนังสือของคุณจะถูกจัดเก็บเป็นหมวดหมู่และคุณยังสามารถเขียนรีวิวหนังสือแต่ละเล่มได้อีกด้วย!</p>
</td></tr>
</table>
{% endblock %}
