<style>
input {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
input[name=search] {
    margin: 0 70%;
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

}
</style>

<form action="/bookstore/search/" method="get">
    {% csrf_token %}
    <input name="search" id="search" type="text" placeholder="Search">
    
</form>

<ul>
  <li><a class="active" href="/bookstore/home">Home</a></li>
  <li><a href="/bookstore/cat/Allbooks">All books</a></li>
  <li><a href="/bookstore/cat/Comics">Comics</a></li>
  <li><a href="/bookstore/cat/Novel">Novel</a></li>
</ul>

<p>{{book_name.id}}</p>

<p>1title : {{book_name}}</p>

<p>2author : {{book_name.author}}</p>



{% if book_review %}

<p>average rating : {{avg_rating}}</p>

{% for review in book_review %}
        
<p>3review : {{review.review_message}}</p>

{% endfor %}

{% else %}
    <p>3review : ยังไม่มีรีวิวสำหรับหนังสือเล่มนี้</p>
{% endif %}


<form action="{% url 'review' book_name.id %}" method="post">
    {% csrf_token %}
    <p>review box :</p>
    <input type="text" name="review_message" /><br><br>
    <p>rating :</p>
    <input type="radio" name= "rating"  value="1" />
         <label for="1">1</label>
         <input type="radio" name= "rating"  value="2" />
         <label for="2">2</label>
         <input type="radio" name= "rating"  value="3" />
         <label for="3">3</label>
         <input type="radio" name= "rating"  value="4" />
         <label for="4">4</label>
         <input type="radio" name= "rating"  value="5" />
         <label for="5">5</label>
    <br><br> <input type="submit" name="review" value="review" /><br><br> 
</form>




