{% extends 'bookstore/base.html' %}
{% block a %}
<h1 align=center>My Bookshelf</h1>
<p align=center>total book : {{num_books}}</p>



<p1><b><font size="5">New Release</font></b></p1><br><br>
<table align="center" width= 80% >
{% if latest_book %}
{% for book in latest_book %}

<td align=center>
{% load static %}
<div class="container-img">
<a href="/bookstore/{{book.id}}">
<img src="{{book.img}}" />

<p id=text>{{book.title}}</a></p>
</div>


</td>

{% endfor %}
{% endif %}
</table>

<br><br><br>
<table align="center" width= 80%>

{% for book in latest_book %}

<td align=center>
<p id=text>{{book.release_date|date:"M d, Y"}}</p>
</td>
{% endfor %}

</table>


<br><br><br><p4><b><font size="5">Latest Reviews</font></b></p4><br><br>
<table align="center" width= 80%>

{% for book in latest_review %}

<td align=center>
{% load static %}
<div class="container-img">
<a href="/bookstore/{{book.id}}">
<img src="{{book.img}}" />
<p id=text>{{book}}</a></p>
</div>



</td>

{% endfor %}

</table>
<br><br><br>
<table align="center" width= 80%>

{% for book in latest_review %}

<td align=center>
<p id=text>{{book.update_review|date:"M d, Y"}}</p>
</td>
{% endfor %}

</table>




<br><br><p7><b><font size="5">Top 5 Rating</font></b></p7><br><br>
<table align="center" width= 80%>
{% if top_five_rating %}
{% for t,s in top_five_rating %}

<td align=center>
{% load static %}
<div class="container-img">
<a href="/bookstore/{{t.id}}">
<img src="{{t.img}}" />
<p id=text>{{t}}</a></p>
<p id=text>{{t.avg_rating|floatformat:2 }},{{s}}</p>

</td>
</div>
{% endfor %}
{% endif %}
</table>
<br><br><br><br><br><br>
<table align="center" width= 80%>

{% for t,s in top_five_rating2 %}

<td align=center>
<p id=text>{{t.avg_rating|floatformat:2 }},{{s}}</p>
</td>
{% endfor %}

</table>

{% endblock %}

