{% extends 'bookstore/base.html' %}
{% block a %}
<style>
div.square {
  border: solid 2px #000;
  width: 50%;
  height: auto;
  position:absolute;
  top:23%;
  left:25%;
  background-color:#fccd64;
}
button[name="ADD"] {
  background: #43A047;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 30%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

input[name=title],input[name=author],input[name=catt] {
    margin: 0 0;
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

</style>
<title>Add Book</title>



<form action="/{{user_name}}/addnewbook/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="text-align:center;">
          
{% if message %}
<p align=center name=pcat><font size="5">ADD NEW BOOK : {{message}}</p>
{% else %}
<p align=center name=pcat><font size="5">ADD NEW BOOK </p>
{% endif %}  
        <div class="square">
            <p><font size="4">Title :
            <input type="text" name="title" /></p><br><br>
            <p><font size="4">Author :
            <input type="text" name="author" /></p><br><br>
            <p><font size="4">Category :
            <select id='cat' name="cat" onchange='checkvalue(this.value)'/>
            <option selected disabled hidden>please select type of book.</option>
            {% for cat in choice_cat %}
                <option  value="{{cat.name}}">{{cat.name}}</option>
            {% endfor %}
            <option value="others"name="others" >others</option>
            </select></p><br>
            <input type="text" name="catt" id="catt" style='display:none'/><br><br><br> 
            <input type="file" id="myfile" name="myfile" class="inputfile" />
            <br><br> <button name="ADD" >ADD</button ><br><br> 
        </div>
    </div>
</form>
<script>
    function checkvalue(val){
        if(val==="others")
           document.getElementById('catt').style.display='inline-block';
        else
           document.getElementById('catt').style.display='none'; 
    }
</script>
{% endblock %}
